@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply font-bold underline decoration-sky-400 
    underline-offset-1 duration-150 hover:decoration-pink-500;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
